* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #efeff4;
}

.row {
  margin: 0;
}

.container {
  max-width: 1270px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 63.9375em) {
  .container {
    padding: 0;
  }
}

.product__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: calc(100% / 6);
  padding: 0.6rem;
  transition: 0.3s;
  cursor: pointer;
}

.product__item .product__item--img {
  position: relative;
  width: 100%;
}

.product__item .product__item--img--main {
  width: 100%;
}

.product__item .product__item--img--tag {
  position: absolute;
  height: 12%;
  left: 0;
  bottom: 0;
  display: none;
}

.product__item .product__item--ad {
  display: none;
  border-radius: 0.2rem;
  font-size: 0.6875rem;
  padding: 0.02rem 0.2rem;
  background-color: #efeff4;
  margin-bottom: 0;
}

.product__item .product__item--desc {
  font-size: 0.8125rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.5rem 0 0.2rem;
}

.product__item .produc__item--more .product__item--rating {
  display: none;
}

.product__item .produc__item--more .h {
  color: #787878;
}

.product__item .produc__item--more .product__item--sold {
  font-size: 0.6875rem;
  color: #787878;
  display: none;
}

.product__item .product__item--price {
  margin: 0.2rem 0;
}

.product__item .product__item--price .item__price,
.product__item .product__item--price .item__unit {
  color: #38383d;
  font-weight: 500;
  font-size: 1rem;
}

.product__item .product__item--price .item__sale {
  margin-left: 0.2rem;
  padding: 0.1rem 0.2rem;
  border: 1px solid #ff424e;
  color: #ff424e;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  background-color: #fff0f1;
  display: none;
}

.product__item .product__item--cheapRefund {
  height: 1.1rem;
  display: none;
}

.product__item.sale .item__price,
.product__item.sale .item__unit {
  color: #ff424e;
}

.product__item.sale .item__sale {
  display: inline-block;
}

.product__item:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  z-index: 1;
}

.product__item.ad .product__item--ad {
  display: inline-block;
}

.product__item.rating .product__item--rating {
  display: inline-block;
}

.product__item.sold .product__item--sold {
  display: inline-block;
}

.product__item.cheapRefund .product__item--cheapRefund {
  display: block;
}

.product__item.freeShip .product__item--img--tag {
  display: block;
}

.btn-tiki-light {
  height: 40px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #0d5cb6;
  color: #0d5cb6;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0px 0px;
  padding: 0.2rem 0.5rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-tiki-light:hover {
  background-color: #1a94ff;
  border: 1px solid #1a94ff;
  color: #fff;
}

.header {
  background-color: #1a94ff;
  width: 100%;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header__mobile {
  display: none;
}

.header__logo--img {
  width: 3.75rem;
  height: 2.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 0.6rem;
}

.header__logo .header__sublogo--img {
  width: auto;
  height: 0.9rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__search {
  width: 60vw;
  margin-top: 1rem;
  margin-left: 3.5rem;
  font-size: 0.8125rem;
}

.header__search--top input {
  height: 2.5rem;
  width: calc(100% - 7.5rem);
  border-radius: 2px 0px 0px 2px;
  border: none;
  padding: 0px 0.8rem;
}

.header__search--top button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 7.5rem;
  border: none;
  color: #fff;
  background-color: #0d5cb6;
}

.header__search--top button i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.header__search--bottom {
  margin-top: 0.5rem;
}

.header__search--bottom ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__search--bottom ul li a {
  color: #fff;
  margin-right: 0.6rem;
  font-size: 0.6875rem;
}

.header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  color: #fff;
}

.header__right i.large {
  font-size: 2rem;
  cursor: pointer;
}

.header__right .header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__right .header__auth--logo {
  margin-right: 0.5rem;
}

.header__right .header__auth--process .header__auth--login {
  font-size: 0.6875rem;
  color: #fff;
}

.header__right .header__auth--process .header__auth--user {
  font-size: 0.8125rem;
  margin: 0;
  position: relative;
}

.header__right .header__auth--process .header__auth--user i {
  position: absolute;
  top: 0;
  margin-left: 0.2rem;
}

.header__right .header__seller {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.1rem 0.5rem;
  border-radius: 0.8rem;
  font-size: 0.75rem;
}

.header__right .row {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__cart--count {
  display: inline-block;
  position: relative;
  margin: 0 0.2rem 0 1.5rem;
}

.header__cart--count .header__cart--quantity {
  position: absolute;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: -0.6rem;
  border-radius: 50%;
  background-color: #fdd835;
}

.header__cart--cart {
  font-size: 0.8125rem;
}

.header__sub {
  height: 2.5rem;
  width: 100%;
  background-color: #fff;
}

.submenu {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.5rem 0;
}

.submenu li a {
  color: #38383d;
  text-decoration: none;
}

#carouselSubMenu {
  margin-top: 0;
}

#carouselSubMenu i {
  color: #38383d;
  font-weight: 500;
}

.carousel-control-prev.submenu-control-prev {
  left: -1rem;
  opacity: 1;
}

.carousel-control-next.submenu-control-next {
  right: -1rem;
  opacity: 1;
}

@media only screen and (max-width: 63.9375em) {
  .container {
    overflow: hidden;
  }
  .header .container {
    padding: 0;
  }
  .header__main {
    padding: 0.5rem 0.2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__logo {
    display: none;
  }
  .header__search {
    margin: 0;
    width: 80%;
  }
  .header__search input {
    width: 100%;
    margin: 0 0.5rem;
    height: 2rem;
  }
  .header__search .search__button {
    display: none;
  }
  .header__search--bottom {
    display: none;
  }
  .header__right {
    margin: 0;
  }
  .header__right .header__auth,
  .header__right .header__seller,
  .header__right .header__cart--cart {
    display: none;
  }
  .header__cart--count {
    margin: 0;
    margin-right: 1rem;
  }
  .header__mobile {
    display: block;
  }
  .header__mobile i {
    color: #fff;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}

.footer {
  margin-top: 1rem;
  background-color: #fff;
  color: #787878;
  font-size: 0.75rem;
}

.footer__col {
  list-style: none;
  color: #787878;
  width: calc(100% / 5);
}

.footer__header h4 {
  font-size: 1rem;
  color: #242424;
  font-weight: 500;
  margin: 1rem 0;
}

.footer li {
  margin-bottom: 0.2rem;
}

.footer li a {
  color: #787878;
  font-size: 0.75rem;
}

.footer__social a {
  margin-right: 0.2rem;
}

.footer__download img {
  padding-left: 0;
}

.footer__download .footer__download--store {
  padding-left: 0;
}

.footer__download .footer__android img {
  margin-bottom: 0.5rem;
}

.footer__bottom {
  padding-bottom: 1rem;
}

.footer__bottom p {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 63.9375em) {
  .footer {
    display: none;
  }
}

.navigate {
  padding-top: 1rem;
}

.navigate__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.navigate__item {
  margin-right: 0.5rem;
}

.navigate__item a {
  color: #38383d;
  font-size: 0.875rem;
  font-weight: 300;
}

.navigate__item a i {
  font-size: 0.8rem;
  margin-right: 0.4rem;
}

.navigate__item.active a {
  color: #242424;
}

@media only screen and (max-width: 63.9375em) {
  .navigate {
    display: none;
  }
}

.navs {
  width: 15.5rem;
  font-size: 0.8125rem;
}

.navs a {
  color: #787878;
  font-size: 1rem;
  padding-left: 2rem;
  text-transform: capitalize;
}

.navs a i {
  padding-right: 0.5rem;
}

.navs a.nav-link.active {
  color: #242424;
  background: #efeff4;
}

@media only screen and (max-width: 63.9375em) {
  .navs {
    display: none;
  }
}

.brandName {
  margin-top: 1rem;
}

.brandName .carousel-indicators {
  bottom: -2.8rem;
}

.brandName .carousel-indicators li {
  background-color: #1a94ff;
}

.wrapper {
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
}

.brandName__header.row {
  padding-bottom: 0;
}

.brandName__header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.brandName__header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brandName__header--logo img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.brandName__header--readMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brandName__header--readMore a {
  color: #1a94ff;
  font-size: 0.9375rem;
}

h3 {
  color: #38383d;
  font-size: 1.25rem;
  margin: 0;
}

.wrapper__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.carouselBrandName__img {
  width: 49.5%;
  border-radius: 0.5rem;
}

.brandName__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.brandName__item {
  width: 12rem;
  padding: 0;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
}

.brandName__item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.brandName__item span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
  color: #1a94ff;
}

.body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.body__content {
  padding-top: 1rem;
  width: calc(100% - 15.5rem);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.body__content .search__result--text {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  margin: 0;
}

.body__content .search__tabs {
  margin-left: 0;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body__content .search__tabs--item {
  display: inline-block;
  font-weight: 500;
  font-size: 0.8125rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.body__content .search__tabs--item:hover {
  color: #0d5cb6;
  border-bottom: 0.2rem solid #0d5cb6;
}

.body__content .search__tabs--item.active {
  color: #0d5cb6;
  border-bottom: 0.2rem solid #0d5cb6;
}

.body__content.product__list {
  min-height: 500px;
}

.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search__content .product__item {
  width: calc(100% / 4);
  padding: 1rem;
}

.search__content .product__item--img {
  padding: 0.75rem;
}

.search__content .product__item--img--tag {
  bottom: 0.75rem;
  left: 0.75rem;
}

.search__tag {
  margin: 1rem;
}

.search__tag span {
  border-radius: 1rem;
  display: inline-block;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

.search__tag span i {
  margin-left: 0.5rem;
  color: #56b0ffab;
}

.search__tag--img {
  background-color: #eee;
}

.search__tag img {
  height: 1.5rem;
}

.search__tag--item {
  background-color: rgba(27, 168, 255, 0.1);
}

.search__tag--del {
  color: #0d5cb6;
  font-size: 0.8125rem;
  margin-left: 0.5rem;
}

input.form-control {
  padding-left: 0.2rem;
}

@media only screen and (max-width: 63.9375em) {
  .body__content {
    width: 100%;
  }
  .body__content .search__result--text {
    display: none;
  }
  .body__content .search__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
  }
  .body__content .search__tabs .search__tabs--item:nth-child(5),
  .body__content .search__tabs .search__tabs--item:nth-child(4) {
    display: none;
  }
  .body__content .search__tabs .search__tabs--item {
    margin: 0;
  }
  .search__content .product__item {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */
#loading {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.updateItem,
.trashItem {
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.updateItem:hover {
  color: white;
  background-color: green;
}
.trashItem:hover {
  color: white;
  background-color: red;
}
